{% extends 'base.html' %}

{% block title %}Все товары{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if products %}
    <h1>Все товары</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if product.photo %}
                <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="card-img-top">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Цена: {{ product.price }}</p>
                    <p class="card-text">Количество: {{ product.quantity }}</p>
                    <button class="btn btn-outline-secondary mt-auto">Купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
         <h3>class="text-muted">Товаров пока нет...</h3>
        {% endif %}
    </div>
</div>
{% endblock %}